*
!.gitignore
!README.md

!Accelerate/
!Accelerate/finished_links.json
!Accelerate/md
!Accelerate/md/*

!Accessibility/
!Accessibility/finished_links.json
!Accessibility/md
!Accessibility/md/*

!AccessorySetupKit/
!AccessorySetupKit/finished_links.json
!AccessorySetupKit/md
!AccessorySetupKit/md/*

!AccountOrganizationalDataSharing/
!AccountOrganizationalDataSharing/finished_links.json
!AccountOrganizationalDataSharing/md
!AccountOrganizationalDataSharing/md/*

!AccountDataTransfer/
!AccountDataTransfer/finished_links.json
!AccountDataTransfer/md
!AccountDataTransfer/md/*

!Accounts/
!Accounts/finished_links.json
!Accounts/md
!Accounts/md/*

!ActivityKit/
!ActivityKit/finished_links.json
!ActivityKit/md
!ActivityKit/md/*

!AdAttributionKit/
!AdAttributionKit/finished_links.json
!AdAttributionKit/md
!AdAttributionKit/md/*

!AddressBook/
!AddressBook/finished_links.json
!AddressBook/md
!AddressBook/md/*

!AddressBookUI/
!AddressBookUI/finished_links.json
!AddressBookUI/md
!AddressBookUI/md/*

!AdServices/
!AdServices/finished_links.json
!AdServices/md
!AdServices/md/*

!AdSupport/
!AdSupport/finished_links.json
!AdSupport/md
!AdSupport/md/*

!AdvancedCommerceAPI/
!AdvancedCommerceAPI/finished_links.json
!AdvancedCommerceAPI/md
!AdvancedCommerceAPI/md/*

!AGL/
!AGL/finished_links.json
!AGL/md
!AGL/md/*

!analytics-reports/
!analytics-reports/finished_links.json
!analytics-reports/md
!analytics-reports/md/*

!AppClip/
!AppClip/finished_links.json
!AppClip/md
!AppClip/md/*

!AppDataTransfer/
!AppDataTransfer/finished_links.json
!AppDataTransfer/md
!AppDataTransfer/md/*

!AppIntents/
!AppIntents/finished_links.json
!AppIntents/md
!AppIntents/md/*

!AppLicenseDeliverySDK/
!AppLicenseDeliverySDK/finished_links.json
!AppLicenseDeliverySDK/md
!AppLicenseDeliverySDK/md/*

!AppStoreConnectAPI/
!AppStoreConnectAPI/finished_links.json
!AppStoreConnectAPI/md
!AppStoreConnectAPI/md/*

!appstorereceipts/
!appstorereceipts/finished_links.json
!appstorereceipts/md
!appstorereceipts/md/*

!AppStoreServerAPI/
!AppStoreServerAPI/finished_links.json
!AppStoreServerAPI/md
!AppStoreServerAPI/md/*

!AppStoreServerNotifications/
!AppStoreServerNotifications/finished_links.json
!AppStoreServerNotifications/md
!AppStoreServerNotifications/md/*

!AppTrackingTransparency/
!AppTrackingTransparency/finished_links.json
!AppTrackingTransparency/md
!AppTrackingTransparency/md/*

!AppKit/
!AppKit/finished_links.json
!AppKit/md
!AppKit/md/*

!AppleArchive/
!AppleArchive/finished_links.json
!AppleArchive/md
!AppleArchive/md/*

!CryptoKit/
!CryptoKit/finished_links.json
!CryptoKit/md
!CryptoKit/md/*

!AppleMapsServerAPI/
!AppleMapsServerAPI/finished_links.json
!AppleMapsServerAPI/md
!AppleMapsServerAPI/md/*

!AppleMusicAPI/
!AppleMusicAPI/finished_links.json
!AppleMusicAPI/md
!AppleMusicAPI/md/*

!AppleMusicFeed/
!AppleMusicFeed/finished_links.json
!AppleMusicFeed/md
!AppleMusicFeed/md/*

!AppleNews/
!AppleNews/finished_links.json
!AppleNews/md
!AppleNews/md/*

!MerchantTokenNotificationServices/
!MerchantTokenNotificationServices/finished_links.json
!MerchantTokenNotificationServices/md
!MerchantTokenNotificationServices/md/*

!ApplePayontheWeb/
!ApplePayontheWeb/finished_links.json
!ApplePayontheWeb/md
!ApplePayontheWeb/md/*

!ApplePayWebMerchantRegistrationAPI/
!ApplePayWebMerchantRegistrationAPI/finished_links.json
!ApplePayWebMerchantRegistrationAPI/md
!ApplePayWebMerchantRegistrationAPI/md/*

!ApplePencil/
!ApplePencil/finished_links.json
!ApplePencil/md
!ApplePencil/md/*

!apple_search_ads/
!apple_search_ads/finished_links.json
!apple_search_ads/md
!apple_search_ads/md/*

!apple-silicon/
!apple-silicon/finished_links.json
!apple-silicon/md
!apple-silicon/md/*

!applicationservices/
!applicationservices/finished_links.json
!applicationservices/md
!applicationservices/md/*

!ARKit/
!ARKit/finished_links.json
!ARKit/md
!ARKit/md/*

!AssetsLibrary/
!AssetsLibrary/finished_links.json
!AssetsLibrary/md
!AssetsLibrary/md/*

!Assignables/
!Assignables/finished_links.json
!Assignables/md
!Assignables/md/*

!AudioToolbox/
!AudioToolbox/finished_links.json
!AudioToolbox/md
!AudioToolbox/md/*

!AudioUnit/
!AudioUnit/finished_links.json
!AudioUnit/md
!AudioUnit/md/*

!AudioDriverKit/
!AudioDriverKit/finished_links.json
!AudioDriverKit/md
!AudioDriverKit/md/*

!AuthenticationServices/
!AuthenticationServices/finished_links.json
!AuthenticationServices/md
!AuthenticationServices/md/*

!AutomatedDeviceEnrollment/
!AutomatedDeviceEnrollment/finished_links.json
!AutomatedDeviceEnrollment/md
!AutomatedDeviceEnrollment/md/*

!AutomaticAssessmentConfiguration/
!AutomaticAssessmentConfiguration/finished_links.json
!AutomaticAssessmentConfiguration/md
!AutomaticAssessmentConfiguration/md/*

!Automator/
!Automator/finished_links.json
!Automator/md
!Automator/md/*

!AVFAudio/
!AVFAudio/finished_links.json
!AVFAudio/md
!AVFAudio/md/*

!AVFoundation/
!AVFoundation/finished_links.json
!AVFoundation/md
!AVFoundation/md/*

!AVKit/
!AVKit/finished_links.json
!AVKit/md
!AVKit/md/*

!AVRouting/
!AVRouting/finished_links.json
!AVRouting/md
!AVRouting/md/*

!BackgroundAssets/
!BackgroundAssets/finished_links.json
!BackgroundAssets/md
!BackgroundAssets/md/*

!BackgroundTasks/
!BackgroundTasks/finished_links.json
!BackgroundTasks/md
!BackgroundTasks/md/*

!BlockStorageDeviceDriverKit/
!BlockStorageDeviceDriverKit/finished_links.json
!BlockStorageDeviceDriverKit/md
!BlockStorageDeviceDriverKit/md/*

!BrowserEngineCore/
!BrowserEngineCore/finished_links.json
!BrowserEngineCore/md
!BrowserEngineCore/md/*

!BrowserEngineKit/
!BrowserEngineKit/finished_links.json
!BrowserEngineKit/md
!BrowserEngineKit/md/*

!BrowserKit/
!BrowserKit/finished_links.json
!BrowserKit/md
!BrowserKit/md/*

